<div class="col-md-6 offset-md-3">
  <h3>Add Patient</h3>
  <form           (ngSubmit)="onAdd()"  >
    <div class="form-group">
      <label> First Name</label>
      <input type="text" name="firstName" id="firstName" class="form-control"  [(ngModel)]="patient.firstName">

    </div>
    <div class="form-group">
      <label> Last Name</label>
      <input type="text" name="lastName" id="lastName" class="form-control" [(ngModel)]="patient.lastName">

    </div>
    <!-- <div class="form-group">
      <label> Date of Birth</label>
      <input type="text" name="dob" id="dob" class="form-control" [(ngModel)]="patient.dob">

    </div> -->
    <div class="form-group">
      <label> Phone</label>
      <input type="text" name="phone" id="phone" class="form-control" [(ngModel)]="patient.phone">

    </div>
    <div class="form-group" >
      <label> Select Doctor </label>
      <select  name="doctor" id="doctor" class="form-control" [(ngModel)]="currentDoctorId" >
        <option *ngFor="let doc of doctors" [value] ="doc.id">
          {{doc.fname}}

        </option>
   </select>
    </div>


    <div>
      <button type="submit" class="btn btn-success">Add new Patient</button>
    </div>
  </form>


</div>

