<div class="container">
  <h3>Patients List</h3>
  <div class="card">
    <div class="card-body">
      <table class="table table-striped" *ngIf="patientsDetails">
        <thead>
          <th>First Name</th>
          <th>Last Name</th>
           <th>Phone</th>
          <th>Visit Date</th>
          <th>Doctor</th>
          <th>Actions</th>
         </thead>
         <tbody>

           <tr *ngFor="let patient of patientsDetails | paginate :{id:'foo',
                    itemsPerPage:4,currentPage:page,totalItems:totalRecords} ">
             <td>{{patient.firstName}}</td>
             <td>{{patient.lastName}}</td>
             <td>{{patient.phone}}</td>
             <td>{{patient.date_visit}}</td>
              <td>{{patient.fname}}</td>
              <td>
                  <button type="submit" class="btn btn-info " (click)="onUpdate(patient.id)">Update</button>
                  <button type="submit" class="btn btn-danger " (click)="onDelete(patient.id)">Delete</button>
                  <button type="submit" class="btn btn-success " (click)="onEdit(patient.id)">Edit</button>


              </td>
           </tr>
         </tbody>

      </table>
      <div >
        <pagination-controls id="foo" (pageChange)="page=$event"></pagination-controls>

      </div>

  </div>

</div>
<div class="patient">

  <button type="submit"  class="btn btn-info" (click)="onAddPatient()" >Add Patient</button>

</div>
