<div class="col-md-12 ">
  <h3>Specialities List</h3>
  <div class="card">
    <div class="card-body">
      <table class="table table-striped" *ngIf="specialities">
        <thead>
          <th>Numero </th>
          <th>Speciality</th>
          <th>Description</th>
          <th>Actions</th>
        </thead>
        <tbody>
          <tr *ngFor="let sp of specialities | paginate :{id:'foo',
          itemsPerPage:4,currentPage:page,totalItems:totalRecords} ">
            <td>{{sp.id}}</td>
            <td>{{sp.speciality}}</td>
            <td>{{sp.description}}</td>
            <td>
              <button type="submit" class="btn btn-success" (click)="onUpdate(sp.id)">Update</button>
              <button type="submit" class="btn btn-danger" (click)="onDelete(sp.id)">Delete</button>
            </td>
          </tr>
        </tbody>

      </table>
      <div >
        <pagination-controls id="foo" (pageChange)="page=$event"></pagination-controls>

      </div>
    </div>

  </div>


</div>
<div class="speciality">
  <button type="submit" class="btn btn-success" (click)="onAdd()">Add Speciality</button>
</div>
